<settings>
  <profiles>
    <profile>
      <id>insecure-ssl</id>
      <properties>
        <maven.wagon.http.ssl.insecure>true</maven.wagon.http.ssl.insecure>
        <maven.wagon.http.ssl.allowall>true</maven.wagon.http.ssl.allowall>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>insecure-ssl</activeProfile>
  </activeProfiles>
</settings>
